{% extends 'base.html' %}

{% block title %}Jornal do Commércio{% endblock %}

{% block content %}
<section class="noticias-principais">
    <h1 class="titulo-principal">Últimas Notícias</h1>

    <div class="lista-noticias">
        {% for noticia in noticias %}
            <article class="noticia-card">
                <h2 class="noticia-card-titulo">{{ noticia.titulo }}</h2>
                <p class="noticia-card-resumo">{{ noticia.resumo }}</p>
                <a href="{% url 'jornal:pagina_noticias' noticia.slug %}" class="noticia-card-link">Leia mais</a>
            </article>
        {% empty %}
            <p>Não há notícias disponíveis no momento.</p>
        {% endfor %}
    </div>
</section>
{% endblock %}
